<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
        
      </head>
<body>
  <div class="container-fluid">
    <figure class="text-center">
      <h1 class="display-3"><strong>DASHBOARD</strong></h1>
    </figure>
    <br>

    <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
    <br>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="chart1">LINE GRAPH</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="chart2">BAR GRAPH</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="chart3">BOX PLOT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="chart4">VIOLIN PLOT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="chart5">3D CHART</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="chart6">POLAR GRAPH</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="chart7">INDICATORS</a>
              </li>
            </ul>  
          </div>
        </div>
      </nav>    
    <br>

    <br>
    <!-- below code makes button list in html --> 
    <div>
    <a type="button" class="btn btn-outline-dark" href="chart1">Stock price comparison (LINE GRAPH)</a>
    <a type="button" class="btn btn-outline-dark" href="chart2">Country population (bar graph)</a>
    <a type="button" class="btn btn-outline-dark" href="chart3">Tips (Box Plots)</a>
    <a type="button" class="btn btn-outline-dark" href="chart4">Tips (Violin Plots)</a>
    <a type="button" class="btn btn-outline-dark" href="chart5">3D Charts</a>
    <a type="button" class="btn btn-outline-dark" href="chart6">Polar graph</a>
    </div>
    <br>

    <!-- below code makes card in html -->
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
    </div>



    <div class="text-right card-footer text-muted">
      EGA CONTROLLED DOCUMENT
    </div>
  </div>
</body>

 

</html>
